.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;

  @include for-size(tablet) {
    max-width: rem(630);
  }

  @include for-size(desktop) {
    max-width: rem(1240);
  }

  @include for-size(hd-desktop) {
    max-width: rem(1372);
  }
}

.btn {
  @include for-size(tablet) {
    width: rem(250);
    height: rem(48);
    font-size: rem(11);
  }

  @include for-size(desktop) {
    width: rem(300);
    height: rem(68);
    font-size: rem(12);
  }

  @include for-size(hd-desktop) {
    width: rem(350);
    font-size: rem(14);
  }
}
