/* montserrat-100 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
    url('../fonts/montserrat-v14-latin_cyrillic-100.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-100.woff') format('woff');
}

/* montserrat-100italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
    url('../fonts/montserrat-v14-latin_cyrillic-100italic.woff2')
      format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-100italic.woff') format('woff');
}

/* montserrat-200 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
    url('../fonts/montserrat-v14-latin_cyrillic-200.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-200.woff') format('woff');
}

/* montserrat-200italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: local('Montserrat ExtraLight Italic'),
    local('Montserrat-ExtraLightItalic'),
    url('../fonts/montserrat-v14-latin_cyrillic-200italic.woff2')
      format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-200italic.woff') format('woff');
}

/* montserrat-300italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
    url('../fonts/montserrat-v14-latin_cyrillic-300italic.woff2')
      format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-300italic.woff') format('woff');
}

/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'),
    url('../fonts/montserrat-v14-latin_cyrillic-300.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-300.woff') format('woff');
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff');
}

/* montserrat-italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
    url('../fonts/montserrat-v14-latin_cyrillic-italic.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-italic.woff') format('woff');
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/montserrat-v14-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-500.woff') format('woff');
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/montserrat-v14-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-600.woff') format('woff');
}

/* montserrat-500italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
    url('../fonts/montserrat-v14-latin_cyrillic-500italic.woff2')
      format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-500italic.woff') format('woff');
}

/* montserrat-600italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
    url('../fonts/montserrat-v14-latin_cyrillic-600italic.woff2')
      format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-600italic.woff') format('woff');
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff');
}

/* montserrat-700italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
    url('../fonts/montserrat-v14-latin_cyrillic-700italic.woff2')
      format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-700italic.woff') format('woff');
}

/* montserrat-800italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
    url('../fonts/montserrat-v14-latin_cyrillic-800italic.woff2')
      format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-800italic.woff') format('woff');
}

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('../fonts/montserrat-v14-latin_cyrillic-800.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-800.woff') format('woff');
}

/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
    url('../fonts/montserrat-v14-latin_cyrillic-900.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-900.woff') format('woff');
}

/* montserrat-900italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
    url('../fonts/montserrat-v14-latin_cyrillic-900italic.woff2')
      format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-900italic.woff') format('woff');
}
