/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';
@import 'fonts.scss';

@import 'variables.scss';

@import 'mixins.scss';

@import './style-guide.scss';

@import 'base-styles.scss';

//components
@import './components/logo';
@import './components/header';
@import './components/troubles';
@import './components/about';
@import './components/program';
@import './components/advantages';
@import './components/teacher';
@import './components/guarantee';
@import './components/reviews';
@import './components/registration';
@import './components/footer';
