.style-guide {
  &__main-title {
    text-align: center;
  }

  &__second-title {
    text-align: center;
  }
}

.color-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  &__item {
    border: 2px solid #ffffff;
    padding: rem(7);
    &:nth-child(1) {
      background-color: $orange-color;
    }
    &:nth-child(2) {
      color: $white-color;
      background-color: $accent-orange-color;
    }

    &:nth-child(3) {
      color: $white-color;
      background-color: $black-color;
    }

    &:nth-child(4) {
      color: $white-color;
      background-color: $black-color-m;
    }

    &:nth-child(5) {
      color: $white-color;
      background-color: $black-color-s;
    }
    &:nth-child(6) {
      background-color: $grey-color;
    }

    &:nth-child(7) {
      border: rem(1) solid $black-color;
      background-color: $white-color;
    }
  }
}

.typography {
  margin: 0 auto;
}

.main-font {
  font-family: $main-font;
}

.second-font {
  font-family: $second-font;
}
