$orange-color: #ff6b08;
$grey-color: #858585;
$black-color: #000;
$black-color-m: #18191d;
$black-color-s: #111517;
$accent-orange-color: #d35526;
$white-color: #fff;

// typography
$main-font: 'Montserrat', sans-serif;
$second-font: 'Tahoma';
