$orange-color: #ff6b08;
$blue-color: #16ebfe;
$grey-color: #afb0b3;
$black-color: #000;
$white-color: #fff;
$text-grey-color: #3f4144;
$pseudo-spaces-color: #f7f7f7;
$accent-blue-color: #17ecff;
$footer-color: #181c27;
$footer-second-color: #202020;
$footer-grey-color: #a2a2a2;
