@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat-v14-latin_cyrillic-regular.woff') format('woff'), url('../font/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v14-latin-700.woff') format('woff'), url('../fonts/montserrat-v14-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --font-first: "Montserrat", sans-serif;
    --color-first: #fff;
    --color-second: black;
    --color-orange: #ff6b08;
    --grey-color: #858585;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-first);
}
.container {
    max-width: 768px;
    margin: auto;
}

.thanks {
    background: rgb(34, 34, 34) url(../images/registration-d.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    padding: 100px 0 0 0;
}



.thanks__window {
    max-width: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto 50px auto;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    border-radius: 2px;
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
}

.thanks__window-title {
    margin-bottom: 20px;
    color: var(--color-second);
}

.thanks__window-title::before {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--color-orange) ;
    position: absolute;
    top: 20px;
    transition: all 0.3s linear;
}
.thanks__window:hover .thanks__window-title::before {
    width: 100%;
}

.thanks__window-link {
    color: var(--color-first);
    font-size: 20px;
    font-weight: 700;
    position: relative;
    transition: all 0.3s linear;
}

.thanks__window-link:hover {
    color: var(--color-orange);
}

.thanks__window-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-first);
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    transition: width .2s linear;
}

.thanks__window-link:hover::after {
    width: 100%;
}
.thanks__description {
    text-align: center;    
}
.thanks__description-title {
    font-size: 30px;
    color: var(--color-first);
    margin: 0 0 30px 0;
}
.thanks__description-list {
    text-align: left;
    padding: 0 50px 0 50px;
    border-left: 1px solid var(--color-first);
    
}
.thanks__description-link {
    color: var(--color-first);
    }

.thanks__description-item {
position: relative;
    }
.thanks__description-item::before {
    content: '';
    width: 20px;
    height: 23px;
    position: absolute;
    top: -4px;
    left: -61px;
    background-image: url(../images/fire-desktop.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.thanks__description-item+.thanks__description-item {
        margin-top: 20px;
    }

