.about-list {
  padding: 0;
  margin: 0;
  @include flexible;
  flex-wrap: wrap;
  padding-bottom: rem(50);

  @include for-size(tablet) {
    padding-bottom: rem(50);
  }

  @include for-size(desktop) {
    padding-bottom: rem(100);
  }

  @include for-size(hd-desktop) {
    padding-bottom: rem(130);
  }

  &__img {
    width: rem(45);
    height: rem(45);
    fill: $orange-color;
    margin-bottom: rem(18);

    @include for-size(desktop) {
      margin-bottom: rem(24);
    }
  }

  &__item {
    flex-basis: rem(290);
    padding: rem(30) rem(25) rem(25);
    box-shadow: rem(8) rem(8) rem(32) rem(26) rgba(0, 0, 0, 0.11);
    text-align: center;

    @media (max-width: rem(617)) {
      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }

    @media (min-width: rem(618)) and (max-width: rem(767)) {
      &:nth-child(2n + 1) {
        margin-right: rem(16);
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: rem(16);
      }
    }

    @media (min-width: rem(768)) and (max-width: rem(1279)) {
      padding: rem(36) rem(20) rem(24);
      &:nth-child(2n + 1) {
        margin-right: rem(22);
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: rem(22);
      }
    }

    @media (min-width: rem(1280)) and (max-width: rem(1680)) {
      padding: rem(40) rem(35) rem(36);
      flex-basis: rem(390);
      &:not(:nth-child(3n)) {
        margin-right: rem(20);
      }

      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: rem(20);
      }
    }

    @include for-size(hd-desktop) {
      flex-basis: rem(390);
      &:not(:nth-child(3n)) {
        margin-right: rem(24);
      }

      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: rem(24);
      }
    }
  }

  &__title {
    margin: 0 0 rem(18);

    @include for-size(desktop) {
      margin-bottom: rem(8);
    }
  }

  &__text {
    font-size: rem(11);
    line-height: rem(20);
    margin: 0;

    @include for-size(desktop) {
      font-size: rem(15);
      line-height: rem(31.25);
    }
    @include for-size(hd-desktop) {
      font-size: rem(18.75);
    }
  }
}

.about-title {
  text-align: center;
}
