.advantages {
  position: relative;
  top: -410px;
  padding: 0px 0 125px 0;
}
.absolute-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.section-list__advantages {
  position: absolute;
  width: 100%;
}
@include for-size(tablet) {
  .advantages {
    top: -210px;
  }
}
@include for-size(desktop) {
  .advantages {
    top: -420px;
  }
}
@include for-size(hd-desktop) {
  .advantages {
    top: -320px;
  }
}
