.section-list {
  padding: 0 28px 0;
  margin: 0;
  counter-reset: section-counter;
  &__item {
    position: relative;
    &::before {
      position: static;
      display: block;
    }
    &::after {
      content: counter(section-counter, decimal-leading-zero);
      counter-increment: section-counter;
      position: absolute;
      bottom: 100%;
      transform: translateY(50%);
      left: rem(35);
      color: $orange-color;
      font-weight: 600;
    }
  }
}
