.header {
  @include for-size(mobile) {
    padding-top: rem(25);
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
}

.menu {
  display: none;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: auto;

  @include for-size(desktop) {
    display: flex;
    font-size: rem(12);
    margin-right: rem(45);
  }

  @include for-size(hd-desktop) {
    font-size: rem(14);
    margin-right: rem(55);
  }
}

.menu__item {
}

.menu__item:not(:last-child) {
  @include for-size(desktop) {
    margin-right: rem(45);
  }

  @include for-size(hd-desktop) {
    margin-right: rem(55);
  }
}

.menu__link {
  color: $grey-color;
  transition: color 0.2s linear;

  &:hover,
  &:focus {
    color: $orange-color;
  }
}

.header__btn {
  transition: all 0.2s linear;

  &:hover,
  &:focus {
    background-color: $orange-color;
    color: $white-color;
  }

  @include for-size(mobile) {
    display: none;
  }

  @include for-size(tablet) {
    margin-left: auto;
    margin-right: rem(45);
  }

  @include for-size(desktop) {
    margin-left: auto;
    margin-right: 0;
  }
}

// Burger strat
.header__burger {
  display: block;
  width: rem(30);
  height: rem(20);
  cursor: pointer;
  position: relative;

  @include for-size(mobile) {
    margin-left: auto;
  }

  @include for-size(desktop) {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    background-color: $black-color;
    position: absolute;
    width: 100%;
    height: rem(4);
    left: 0;
    transition: all 0.2s linear;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.header__burger span {
  position: absolute;
  background-color: $black-color;
  width: 100%;
  height: rem(4);
  top: rem(8);
  left: 0;
  transition: all 0.2s linear;
}

.header__burger.active::before {
  transform: rotate(45deg);
  background-color: $black-color;
  top: rem(8);
}

.header__burger.active::after {
  transform: rotate(-45deg);
  background-color: $black-color;
  bottom: rem(8);
}

.header__burger.active span {
  transform: scale(0);
}

// Burger END
