h3,
h4 {
  margin: 0;
}
.program {
  background-color: $black-color-s;
  background-image: url(../images/program/program-m.png);
  background-repeat: no-repeat;
  background-position: right 85.28%;

  @include for-size(tablet) {
    background-image: url(../images/program/program-t.png);
    background-position: right 80.08%;
  }
  @include for-size(desktop) {
    background-image: url(../images/program/program-d.png);
    background-position: left 70%;
  }
  @include for-size(hd-desktop) {
    background-image: url(../images/program/program-xd.png);
    background-position: left 98.8%;
  }

  @media (min-resolution: 144dpi) {
    background-image: url(../images/program/program-m@1.5x.png);
    @include for-size(tablet) {
      background-image: url(../images/program/program-t@1.5x.png);
    }
    @include for-size(desktop) {
      background-image: url(../images/program/program-d@1.5x.png);
    }
    @include for-size(hd-desktop) {
      background-image: url(../images/program/program-xd@1.5x.png);
    }
  }

  @media (min-resolution: 192dpi) {
    background-image: url(../images/program/program-m@2x.png);
    @include for-size(tablet) {
      background-image: url(../images/program/program-t@2x.png);
    }
    @include for-size(desktop) {
      background-image: url(../images/program/program-d2x.png);
    }
    @include for-size(hd-desktop) {
      background-image: url(../images/program/program-xd2x.png);
    }
  }

  &__timeline {
    @include for-size(desktop) {
      border-bottom: rem(1.5) solid rgb(84, 98, 100);
    }
    @include for-size(hd-desktop) {
    }
  }

  &__container-header {
    padding-top: rem(20);
    text-align: center;

    @include for-size(tablet) {
      padding-top: rem(52);
      padding-bottom: rem(22);
      text-align: left;
    }
    @include for-size(desktop) {
      padding-top: rem(69);
      padding-bottom: rem(42);
    }
    @include for-size(hd-desktop) {
    }
  }

  &__container-footer {
    width: rem(188);
    padding-bottom: rem(414);
    padding-left: rem(49);
    margin: 0 auto;

    @include for-size(tablet) {
      width: rem(520);
      padding-bottom: rem(321);
    }
    @include for-size(desktop) {
      width: 100%;
      padding-top: rem(24);

      padding-bottom: rem(440);
    }
    @include for-size(hd-desktop) {
      padding-bottom: rem(372);
    }
  }

  &__title {
    line-height: rem(48);
    margin: 0;

    &-tree {
      @include for-size(desktop) {
        margin-bottom: rem(3);
      }
      @include for-size(hd-desktop) {
        margin-bottom: rem(0);
      }
      &_finish {
        @include for-size(desktop) {
          margin-bottom: rem(27);
        }
      }
    }
  }

  &__list {
    padding: 0;
    @include for-size(desktop) {
      display: flex;
      justify-content: space-between;
    }
    @include for-size(hd-desktop) {
    }
  }

  &__item {
    @include for-size(tablet) {
    }
    @include for-size(desktop) {
      width: rem(234);
    }
    @include for-size(hd-desktop) {
    }

    &:nth-last-of-type(n + 2) {
      margin-bottom: rem(20);

      @include for-size(tablet) {
        margin-bottom: rem(28);
      }
      @include for-size(desktop) {
      }
      @include for-size(hd-desktop) {
      }
    }
  }

  &__sub-list {
    padding: 0;

    @include for-size(tablet) {
      display: flex;
    }
    @include for-size(desktop) {
      flex-direction: column;
    }
    @include for-size(hd-desktop) {
    }
  }

  &__pseudo-line {
    margin-left: rem(36);
  }

  &__orange-font {
    font-size: rem(13.25);
    line-height: 3.6;
    letter-spacing: rem(0.5);
    margin-bottom: rem(1.5);

    @include for-size(desktop) {
      font-size: rem(18);
      line-height: 1.62;
      margin-bottom: rem(5);
    }

    @include for-size(hd-desktop) {
      font-size: rem(21);
      line-height: 1.4;
    }
  }

  &__sub-item {
    width: rem(175);

    &:nth-last-of-type(n + 2) {
      margin-right: rem(3);
    }

    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      margin-right: 0;
    }
    @include for-size(desktop) {
      width: 100%;
      padding-top: rem(27);
    }
    @include for-size(hd-desktop) {
    }
    &_finish {
      @include for-size(desktop) {
        padding-top: 0;
      }
    }
  }

  &__sub-sub-list {
    padding: 0;
    @include for-size(tablet) {
    }
    @include for-size(desktop) {
    }
    @include for-size(hd-desktop) {
    }
  }

  &__grey-font {
    font-size: rem(11);
    opacity: 0.502;
    line-height: 1.818;
    letter-spacing: rem(0.55);

    @include for-size(desktop) {
      font-size: rem(18.75);
      line-height: 1.556;
    }
  }
}

.title-tree {
  position: relative;
  font-size: rem(15);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.944;
  letter-spacing: rem(1.7);
  color: $white-color;

  @include for-size(desktop) {
    font-size: rem(19);
    line-height: 1.535;
  }

  @include for-size(hd-desktop) {
    font-size: rem(29);
    line-height: 1;
  }

  &::after {
    content: '';
    position: absolute;
    left: rem(-36);
    top: rem(10);
    width: rem(10);
    height: rem(10);
    border-radius: 50%;
    background-color: rgb(255, 107, 8);

    @include for-size(tablet) {
    }
    @include for-size(desktop) {
      left: rem(-21);
      top: rem(-49);
      width: rem(17);
      height: rem(17);
    }
    @include for-size(hd-desktop) {
    }
  }
}
