.program {
  background-color: $black-color-s;
  background-image: url(../images/program/program-m.png);
  background-repeat: no-repeat;
  background-position: right 85.28%;

  @include for-size(tablet) {
    background-image: url(../images/program/program-t.png);
    background-position: right 87.08%;
  }
  @include for-size(desktop) {
    background-image: url(../images/program/program-d.png);
    background-position: left 89.5%;
  }
  @include for-size(hd-desktop) {
    background-image: url(../images/program/program-xd.png);
    background-position: left 98.8%;
  }

  @media (min-resolution: 144dpi) {
    background-image: url(../images/program/program-m@1.5x.png);
    @include for-size(tablet) {
      background-image: url(../images/program/program-t@1.5x.png);
    }
    @include for-size(desktop) {
      background-image: url(../images/program/program-d@1.5x.png);
    }
    @include for-size(hd-desktop) {
      background-image: url(../images/program/program-xd@1.5x.png);
    }
  }

  @media (min-resolution: 192dpi) {
    background-image: url(../images/program/program-m@2x.png);
    @include for-size(tablet) {
      background-image: url(../images/program/program-t@2x.png);
    }
    @include for-size(desktop) {
      background-image: url(../images/program/program-d2x.png);
    }
    @include for-size(hd-desktop) {
      background-image: url(../images/program/program-xd2x.png);
    }
  }

  &__container-header {
    padding-top: rem(20);
  }

  &__container-footer {
    padding-bottom: rem(418);

    @include for-size(tablet) {
      padding-bottom: rem(340);
    }
    @include for-size(desktop) {
      padding-bottom: rem(490);
    }
    @include for-size(hd-desktop) {
      padding-bottom: rem(372);
    }
  }

  &__title {
    line-height: rem(48);
    margin: 0;
  }

  &__list {
  }

  &__item {
  }

  &__title-tree {
    margin-bottom: rem(17);
  }

  &__sub-list {
  }

  &__orange-font {
    font-size: rem(14);
    line-height: 2.224;
    margin: 0;

    @include for-size(desktop) {
      font-size: rem(18);
      line-height: 1.62;
    }

    @include for-size(hd-desktop) {
      font-size: rem(21);
      line-height: 1.4;
    }
  }

  &__sub-item {
  }

  &__orange-font {
  }

  &__sub-sub-list {
  }

  &__grey-font {
    font-size: rem(11);
    opacity: 0.502;
    line-height: 1.818;

    @include for-size(desktop) {
      font-size: rem(18.75);
      line-height: 1.556;
    }
  }
}

.title-tree {
  font-size: rem(15);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.944;
  letter-spacing: rem(1.7);
  color: $white-color;
  margin: 0;

  @include for-size(desktop) {
    font-size: rem(19);
    line-height: 1.535;
  }

  @include for-size(hd-desktop) {
    font-size: rem(29);
    line-height: 1;
  }
}
