.registration {
  background: rgb(17, 21, 23) url(../images/registration/registration-m.png)
    no-repeat center center;
  background-size: cover;
  padding: 55px 0 60px 0;
  text-align: center;
  color: $white-color;
  @include for-size(tablet) {
    background: rgb(17, 21, 23) url(../images/registration/registration-t.png)
      no-repeat center center;
    background-size: cover;
  }
  @include for-size(desktop) {
    background: rgb(17, 21, 23) url(../images/registration/registration-d.png)
      no-repeat center center;
    background-size: cover;
  }
  @include for-size(hd-desktop) {
    background: rgb(17, 21, 23) url(../images/registration/registration-xd.png)
      no-repeat center center;
    background-size: cover;
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: rgb(17, 21, 23)
      url(../images/registration/registration-m@1.5x.png) no-repeat center
      center;
    background-size: cover;
    @include for-size(tablet) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-t@1.5x.png) no-repeat center
        center;
      background-size: cover;
    }
    @include for-size(desktop) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-d@1.5x.png) no-repeat center
        center;
      background-size: cover;
    }
    @include for-size(hd-desktop) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-xd@1.5x.png) no-repeat center
        center;
      background-size: cover;
    }
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: rgb(17, 21, 23)
      url(../images/registration/registration-m@2x.png) no-repeat center center;
    background-size: cover;
    @include for-size(tablet) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-t@2x.png) no-repeat center
        center;
      background-size: cover;
    }
    @include for-size(desktop) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-d@2x.png) no-repeat center
        center;
      background-size: cover;
    }
    @include for-size(hd-desktop) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-xd@2x.png) no-repeat center
        center;
      background-size: cover;
    }
  }

  &__title {
    font-size: rem(14);
    line-height: rem(26);
    font-weight: 800;
    padding: 0 10px 0 10px;
    margin: 0 0 26px 0;
    @include for-size(tablet) {
      font-size: rem(22);
      line-height: rem(38);
      margin: 0 0 35px 0;
      padding: 0 50px 0 50px;
    }
    @include for-size(desktop) {
      font-size: rem(37.5);
      line-height: rem(50);
      margin: 0 0 50px 0;
      padding: 0 140px 0 140px;
    }
    @include for-size(hd-desktop) {
      margin: 0 0 70px 0;
      padding: 0 240px 0 240px;
    }
  }
  &__description {
    font-size: rem(11);
    line-height: rem(20);
    font-weight: 600;
    padding: 0 10px 0 10px;
    margin: 0 0 28px 0;
    @include for-size(tablet) {
      font-size: rem(15);
      margin: 0 0 38px 0;
      padding: 0 80px 0 80px;
    }
    @include for-size(desktop) {
      font-size: rem(18);
      line-height: rem(24.5);
      margin: 0 0 50px 0;
      padding: 0 200px 0 200px;
    }
    @include for-size(hd-desktop) {
      font-size: rem(25);
      line-height: rem(37.5);
      margin: 0 0 55px 0;
    }
  }
}

.form__wrapper {
  @media (min-width: rem(430)) {
    margin: auto;
    width: 400px;
  }
  @include for-size(desktop) {
    width: 620px;
  }
}
.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 48px;
  width: 100%;
  border-style: none;
  outline: none;
  color: $white-color;
  font-weight: 600;
  font-size: rem(15);
  padding: 0 2% 0 30px;
  background: none;
  border: 1px solid $white-color;
  transition: border;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  font-size: 16px;

  @include for-size(desktop) {
    height: rem(70);
  }
}
input:active {
  background: none;
}

.input + .input {
  margin: 20px 0 55px 0;
  @include for-size(tablet) {
    margin: 20px 0 30px 0;
  }
  @include for-size(desctop) {
    margin: 30px 0 55px 0;
  }
}

@mixin placeholder {
  &::placeholder {
    @content;
  }
}
.input {
  @include placeholder {
    color: $white-color;
    text-indent: 0px;
    transition: text-indent 500ms;
  }

  &:focus {
    @include placeholder {
      text-indent: 80%;
      color: grey;
    }
  }
}
.input + .input {
  @include placeholder {
    color: $white-color;
    text-indent: 0px;
    transition: text-indent 500ms;
  }

  &:focus {
    @include placeholder {
      text-indent: 73%;
      color: grey;
    }
  }
}

input:hover {
  border: 1px solid $orange-color;
}

.button {
  display: block;
  width: rem(250);
  height: rem(48);
  padding: 0 10px;
  text-transform: uppercase;
  color: $white-color;
  background-color: $orange-color;
  border-style: none;
  font-size: rem(11);
  font-weight: 700;
  transition: all;
  transition-timing-function: linear;
  transition-duration: 0.1s;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
  @include for-size(desktop) {
    font-size: rem(14);
    width: rem(350);
    height: rem(70);
  }
  &:hover {
    background-color: $white-color;
    color: $orange-color;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  }
}

.contacts__form input::placeholder {
  font-size: rem(14);
  color: $white-color;
  font-weight: 600;
  text-transform: capitalize;
  background: none;
  @include for-size(desktop) {
    font-size: rem(20.8);
  }
}

.input input[type='text']:invalid {
  color: red;
}

// popup

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
  display: none;
}

.popup {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  // background-color: #FFF;
  background: rgba(252, 252, 252, 0.98)
    url(../images/registration/thanks-bg.png) no-repeat center right;
  background-size: 60%;
  color: $black-color;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}

.scroll-up {
  width: 130px;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fcfcfc;
  color: #aaa;
  font-size: 13px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.2s ease;
  display: none;
}

.scroll-up:hover {
  background-color: #eeeeee;
  color: #777777;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.2s linear;
  &:hover {
    transform: rotate(10deg);
  }
  &-instagram {
    background-image: url('../images/registration/instagram.svg');
  }
  &-youtube {
    background-image: url('../images/registration/youtube.svg');
  }
  &-facebook {
    background-image: url('../images/registration/facebook.svg');
  }
}

.orange-color {
  color: $orange-color;
}
.br {
  display: block;
}
.registration > .container {
  max-width: 1180px;
  margin: auto;
  padding: 0 30px 0 30px;
}
.thaks-header {
  padding: 0 0 25px 0;
}
.contacts__image {
  width: 40px;
  height: 40px;
}
.navigation-tp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.contacts__wrapper:hover .contacts__svg {
  transform: rotate(135deg);
  fill: $black-color;
}
.contacts__wrapper:hover .contacts__phone {
  color: $orange-color;
}
.contacts__svg {
  position: absolute;
  width: 35px;
  height: 35px;
  left: -50px;
  fill: $orange-color;
  transition: all 0.3s linear;
}
.contacts__phone {
  font-size: 30px;
  font-weight: 700;
  color: $black-color;
  transition: all 0.3s linear;
}

.contacts__instagram {
  padding: 0 0 0 50px;
  position: relative;
}
.contacts__instagram::before {
  content: '';
  position: absolute;
  display: block;
  background-color: rgba(128, 128, 128, 0.2);
  width: 30px;
  height: 2px;
  transform: rotate(90deg);
  left: 10px;
  bottom: 50%;
}
.thanks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0;
  &__image-wrapper {
    background-image: url(../images/registration/thanks-img.jpg);
    background-size: contain;
    height: 260px;
    background-repeat: no-repeat;
    width: 200px;
    border-radius: 50px;
  }
  &__description {
    flex: 0 0 60%;
  }
  &__title {
    font-size: 35px;
    text-transform: uppercase;
    line-height: 55px;
    margin: 0 0 50px 0;
  }
  &__text {
    font-size: 25px;
    line-height: 35px;
  }
  &__text-link {
    color: $orange-color;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
  }
  &__text-link {
    display: block;
  }
  &__text + &__text {
    margin-top: 15px;
  }
  &__back-link {
    display: inline-block;
    font-size: 25px;
    line-height: 35px;
    margin-top: 30px;
    text-transform: uppercase;
    color: $orange-color;
    font-weight: 700;
    position: relative;
  }
  &__back-link::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    bottom: -10px;
    background-color: $orange-color;
    transition: all 0.3s linear;
    transform: translateX(-50%);
    left: 50%;
  }
  &__back-link:hover::after {
    width: 100%;
  }
}

.social {
  padding: 0 0 70px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.4s linear;
  }
  &__list {
    display: flex;
    padding: 0;
    margin: 0;
  }
  &__svg {
    width: 40px;
    height: 40px;
    fill: $black-color;
    transition: all 0.5s linear;
  }
  &__svg:hover {
    fill: $orange-color;
  }
  &__text {
    margin: 0 0 0 0;
  }
}

@media (max-width: 767px) {
  .registration > .container {
    width: 100%;
    padding: 0px 15px;
  }
  .social__list {
    margin: 0 0 15px 0;
  }
  .navigation-tp {
    flex-direction: column;
  }
  .registration > .logo {
    margin-bottom: 20px;
  }
  .thanks__image-wrapper {
    display: none;
  }
  .thanks__description {
    text-align: center;
    flex: 0 0 100%;
  }
  .thanks__title {
    font-size: 26px;
    line-height: 28px;
    margin: 0 0 20px 0;
  }
  .thanks__text {
    font-size: 18px;
    line-height: 25px;
  }
  .social__wrapper {
    flex-direction: column;
  }

  .social__item + .social__item {
    margin-left: 20px;
  }
  .social__text {
    font-size: 17px;
    text-align: center;
    margin: 0 0 10px 0;
  }
  .masc {
    display: none;
  }
  .thanks__back-link {
    margin-bottom: 20px;
  }
  .social__svg {
    width: 50px;
    height: 50px;
  }

  .contacts__wrapper {
    flex-direction: column;
    padding-left: 30px;
  }
  .contacts__phone {
    font-size: 22px;
  }
  .contacts__instagram {
    display: none;
  }
  .contacts__svg {
    width: 30px;
    height: 30px;
    left: -12px;
  }
  .thanks__text + .thanks__text {
    display: none;
  }
}
@media (min-width: 768px) {
  .registration > .container {
    max-width: 768px;
    padding: 0px 40px;
  }
  .popup {
    padding: 30px;
  }
  .navigation-tp {
    margin: 0 0 10px 0;
  }
  .thanks__description {
    padding-left: 20px;
  }
  .social__wrapper {
    padding: 0 20px 0 0;
  }
  .thanks__title {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 10px;
  }
  .thanks__text {
    font-size: 20px;
    line-height: 24px;
  }
  .social__text {
    font-size: 16px;
  }

  .social__item {
    margin-left: 20px;
  }
  .social__link {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1280px) {
  .registration > .container {
    max-width: 1240px;
    padding: 0px 40px;
  }
  .social__wrapper {
    padding: 25px 55px 25px 55px;
  }
  .social__svg {
    width: 50px;
    height: 50px;
  }
  .social__text {
    font-size: 30px;
  }
  .thanks__title {
    font-size: 58px;
    line-height: 75px;
  }
  .thanks__text {
    font-size: 31px;
    line-height: 36px;
  }
  .thanks__text-link {
    font-size: 32px;
    margin-top: 20px;
  }
  .thanks__image-wrapper {
    height: 450px;
    width: 340px;
    border-radius: 80px;
  }
  .social__link {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 1680px) {
  .registration > .container {
    max-width: 1372px;
  }
}

// alert window

.smoke-base {
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: table;
  z-index: 1001;
}

.smoke-dialog_wrapper {
  position: relative;
  vertical-align: middle;
  display: table-cell;
}

.smoke-dialog {
  // width: 80%;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  color: #202020;
  border: 1px solid #b6b6b6;
  border-radius: 28px;
  background-color: #f3f3f3;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
}

.smoke-dialog-buttons {
  vertical-align: middle;
  margin-top: 10px;
}

.smoke-dialog-buttons-ok,
.smoke-dialog-buttons-cancel {
  margin: 0 7px;
  padding: 8px 24px;
  border: 0;
  border-radius: 7px;
  outline: 0;
  color: white;
  background: rgb(255, 107, 8);
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  line-height: 18px;
  vertical-align: baseline;
  display: inline-block;
  cursor: pointer;
}
.smoke-dialog-buttons-ok:hover,
.smoke-dialog-buttons-cancel:hover {
  background: #222;
}

.smoke-prompt {
  margin-top: 15px;
  text-align: center;
}

.smoke-prompt-input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  margin: 0;
  padding: 11.2px;
  border: 1.4px solid #aaa;
  outline: none;
  font-family: arial;
  font-size: 22.4px;
  background-color: white;
  display: inline-block;
}

.smoke-dialog-buttons-cancel {
  background-color: rgba(0, 0, 0, 0.4);
}
