.registration {
  background: rgb(17, 21, 23) url(../images/registration/registration-m.png)
    no-repeat center center;
  background-size: cover;
  padding: 55px 0 60px 0;
  text-align: center;
  color: $white-color;
  @include for-size(tablet) {
    background: rgb(17, 21, 23) url(../images/registration/registration-t.png)
      no-repeat center center;
    background-size: cover;
  }
  @include for-size(desktop) {
    background: rgb(17, 21, 23) url(../images/registration/registration-d.png)
      no-repeat center center;
    background-size: cover;
  }
  @include for-size(hd-desktop) {
    background: rgb(17, 21, 23) url(../images/registration/registration-xd.png)
      no-repeat center center;
    background-size: cover;
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: rgb(17, 21, 23)
      url(../images/registration/registration-m@1.5x.png) no-repeat center
      center;
    background-size: cover;
    @include for-size(tablet) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-t@1.5x.png) no-repeat center
        center;
      background-size: cover;
    }
    @include for-size(desktop) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-d@1.5x.png) no-repeat center
        center;
      background-size: cover;
    }
    @include for-size(hd-desktop) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-xd@1.5x.png) no-repeat center
        center;
      background-size: cover;
    }
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: rgb(17, 21, 23)
      url(../images/registration/registration-m@2x.png) no-repeat center center;
    background-size: cover;
    @include for-size(tablet) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-t@2x.png) no-repeat center
        center;
      background-size: cover;
    }
    @include for-size(desktop) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-d@2x.png) no-repeat center
        center;
      background-size: cover;
    }
    @include for-size(hd-desktop) {
      background: rgb(17, 21, 23)
        url(../images/registration/registration-xd@2x.png) no-repeat center
        center;
      background-size: cover;
    }
  }

  &__title {
    font-size: rem(14);
    line-height: rem(26);
    font-weight: 800;
    padding: 0 10px 0 10px;
    margin: 0 0 26px 0;
    @include for-size(tablet) {
      font-size: rem(22);
      line-height: rem(38);
      margin: 0 0 35px 0;
      padding: 0 50px 0 50px;
    }
    @include for-size(desktop) {
      font-size: rem(37.5);
      line-height: rem(50);
      margin: 0 0 50px 0;
      padding: 0 140px 0 140px;
    }
    @include for-size(hd-desktop) {
      margin: 0 0 70px 0;
      padding: 0 240px 0 240px;
    }
  }
  &__description {
    font-size: rem(11);
    line-height: rem(20);
    font-weight: 600;
    padding: 0 10px 0 10px;
    margin: 0 0 28px 0;
    @include for-size(tablet) {
      font-size: rem(15);
      margin: 0 0 38px 0;
      padding: 0 80px 0 80px;
    }
    @include for-size(desktop) {
      font-size: rem(18);
      line-height: rem(24.5);
      margin: 0 0 50px 0;
      padding: 0 200px 0 200px;
    }
    @include for-size(hd-desktop) {
      font-size: rem(25);
      line-height: rem(37.5);
      margin: 0 0 55px 0;
    }
  }
}

.form__wrapper {
  @media (min-width: rem(430)) {
    margin: auto;
    width: 400px;
  }
  @include for-size(desktop) {
    width: 620px;
  }
}
.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 48px;
  width: 100%;
  border-style: none;
  outline: none;
  color: $white-color;
  font-weight: 600;
  font-size: rem(15);
  padding: 0 2% 0 30px;
  background: none;
  border: 1px solid $white-color;
  transition: border;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  font-size: 16px;
  font-family: var(--font-first);

  @include for-size(desktop) {
    height: rem(70);
  }
}
input:active {
  background: none;
}

.input + .input {
  margin: 20px 0 55px 0;
  @include for-size(tablet) {
    margin: 20px 0 30px 0;
  }
  @include for-size(desctop) {
    margin: 30px 0 55px 0;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.input {
  @include placeholder {
    color: $white-color;
    text-indent: 0px;
    transition: text-indent 500ms;
  }

  &:focus {
    @include placeholder {
      text-indent: 80%;
      color: grey;
    }
  }
}
.input + .input {
  @include placeholder {
    color: $white-color;
    text-indent: 0px;
    transition: text-indent 500ms;
  }

  &:focus {
    @include placeholder {
      text-indent: 73%;
      color: grey;
    }
  }
}

input:hover {
  border: 1px solid $orange-color;
}

.button {
  display: block;
  width: rem(250);
  height: rem(48);
  padding: 0 10px;
  text-transform: uppercase;
  color: $white-color;
  background-color: $orange-color;
  border-style: none;
  font-size: rem(11);
  font-weight: 700;
  transition: all;
  transition-timing-function: linear;
  transition-duration: 0.1s;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
  @include for-size(desktop) {
    font-size: rem(14);
    width: rem(350);
    height: rem(70);
  }
  &:hover {
    background-color: $white-color;
    color: $orange-color;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  }
}

.contacts__form input::placeholder {
  font-size: rem(14);
  color: $white-color;
  font-weight: 600;
  text-transform: capitalize;
  background: none;
  @include for-size(desktop) {
    font-size: rem(20.8);
  }
}

.input input[type='text']:invalid {
  color: red;
}
