* {
  outline: 1px solid blue;
}

.reviews {
  padding: rem(24) 0 rem(24) 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Стрелка */
.slick-arrow {
}

/* Стрелка влево */
.slick-arrow.slick-prev {
}

/* Стрелка вправо */
.slick-arrow.slick-next {
}

// BIG SLIDER
.sliderbig {
  position: relative;

  & .slick-arrow {
    font-size: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
  }

  &__item-img,
  &__item-img-wrp {
    width: rem(80);
    height: rem(80);
    border-radius: 50%;
  }
  .Эллипс_1 {
    border-radius: 50%;
    background-color: rgb(241, 241, 241);
    position: absolute;
    left: 120px;
    top: 7170px;
    width: 80px;
    height: 80px;
    z-index: 415;
  }

  @include for-size(tablet) {
    & .slick-arrow.slick-prev,
    & .slick-arrow.slick-next {
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      height: rem(20);
      width: rem(20);
      transform: translate(-50%, -50%);
    }

    & .slick-arrow.slick-prev {
      left: 0;
      background-image: url('../images/reviews/prev.svg');
    }

    & .slick-arrow.slick-next {
      right: 0;
      background-image: url('../images/reviews/next.svg');
    }
  }
}

// SMALL SLIDER
.slider {
  position: relative;

  & .slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
  }

  & .slick-arrow.slick-prev,
  & .slick-arrow.slick-next {
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: rem(20);
    width: rem(20);
    background-color: transparent;
    border: none;
    transform: translate(-50%, -50%);
  }

  & .slick-arrow.slick-prev {
    left: 0;
    background-image: url('../images/reviews/prev.svg');
  }

  & .slick-arrow.slick-next {
    right: 0;
    background-image: url('../images/reviews/next.svg');
  }

  &__item-img {
    border-radius: 50%;
    width: rem(54);
    height: rem(54);

    &:hover,
    &:focus {
      border: 2px solid $orange-color;
    }
  }
}

.slider__item {
  display: flex;
  justify-content: center;
  text-align: center;

  &-img-wrp {
    width: rem(54);
    height: rem(54);
    border-radius: 50%;
    background-color: $orange-color;
  }
}
