* {
  outline: 1px solid blue;
}

.reviews {
  padding: rem(24) 0 rem(24) 0;
}

.sliderbig__item {
  padding: rem(24) 0 rem(34) 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 6.928px 34.96px 11.04px rgba(29, 29, 27, 0.09);
}

.section-title {
  width: rem(180);
  text-align: center;
  margin: 0 auto;
  line-height: rem(26.5);
  margin-bottom: rem(20);
}

.sliderbig__item-img-box {
  width: rem(80);
  margin: 0 auto;
}

.sliderbig__item-img-wrp {
  margin-bottom: rem(20);
}

.sliderbig__title {
  margin: 0 auto;
  font-size: rem(13);
  line-height: rem(29);
  color: $orange-color;
  text-align: center;
  margin-bottom: rem(7);
}

.sliderbig__description {
  margin: 0 auto;
  text-align: center;
  font-size: rem(11);
  line-height: rem(16.6);
  color: $grey-color;
  max-width: rem(230);
}

.sliderbig__content {
  font-size: rem(11);
  line-height: rem(20);
  font-weight: 500;
  text-align: center;
  max-width: rem(220);
  margin: 0 auto;
}

.sliderbig__content-link {
  color: $orange-color;
  text-decoration: underline;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: center;
}

// BIG SLIDER
.sliderbig {
  position: relative;

  & .slick-arrow {
    font-size: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
  }

  &__item-img,
  &__item-img-wrp {
    width: rem(80);
    height: rem(80);
    border-radius: 50%;
  }

  @include for-size(tablet) {
    & .slick-arrow.slick-prev,
    & .slick-arrow.slick-next {
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      height: rem(20);
      width: rem(20);
      transform: translate(-50%, -50%);
    }

    & .slick-arrow.slick-prev {
      left: 0;
      background-image: url('../images/reviews/prev.svg');
    }

    & .slick-arrow.slick-next {
      right: 0;
      background-image: url('../images/reviews/next.svg');
    }
  }
}

// SMALL SLIDER
.slider {
  position: relative;

  & .slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
  }

  & .slick-arrow.slick-prev,
  & .slick-arrow.slick-next {
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: rem(20);
    width: rem(20);
    background-color: transparent;
    border: none;
    transform: translate(-50%, -50%);
  }

  & .slick-arrow.slick-prev {
    left: 0;
    background-image: url('../images/reviews/prev.svg');
  }

  & .slick-arrow.slick-next {
    right: 0;
    background-image: url('../images/reviews/next.svg');
  }

  &__item {
    display: flex;
    justify-content: center;
    text-align: center;

    &-img-wrp,
    &-img {
      border-radius: 50%;
      width: rem(54);
      height: rem(54);

      &:hover,
      &:focus {
        border: 2px solid $orange-color;
      }
    }
  }
}

.social-list {
  display: flex;
  padding: 0;
  margin: 0;

  &__item-svg {
    width: rem(26);
    height: rem(20);

    &:hover,
    &:focus {
      fill: #536ea7;
    }
  }
}
