.teacher {
  position: relative;
  padding-top: rem(23);
  padding-bottom: rem(50);
  @include for-size(tablet) {
    padding-top: rem(31);
    padding-bottom: rem(60);
  }
  @include for-size(desktop) {
    padding-top: rem(45);
    padding-bottom: rem(90);
  }
  @include for-size(hd-desktop) {
    padding-top: rem(57);

    padding-bottom: rem(130);
  }
}

.sections-title,
.teacher-name,
.teacher-photo {
  margin: 0;
  margin-bottom: rem(24);
}

.sections-title {
  @include for-size(tablet) {
    margin-bottom: rem(30);
  }
  @include for-size(desktop) {
    margin-bottom: rem(50);
  }

  @include for-size(hd-desktop) {
    margin-bottom: rem(70);
  }
}

.teacher-name {
  @include for-size(tablet) {
    margin-bottom: rem(20);
  }
  @include for-size(desktop) {
    margin-bottom: rem(34);
  }
}

.teacher-photo {
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.21);

  @include for-size(tablet) {
    margin: 0;
    margin-right: rem(46);
  }

  @include for-size(desktop) {
    margin-right: rem(86);
  }
}

.photo-wrap {
  display: flex;
}

.teacher-name {
  padding-bottom: rem(5);
  font-weight: 800;
  border-bottom: rem(1) solid rgba(133, 133, 133, 0.38);
}

.teacher-wrapper {
  @include for-size(tablet) {
    display: flex;
    align-items: flex-start;
  }
}

.teacher-info {
  flex: 0 0 50%;
  @include for-size(tablet) {
    width: rem(400);
  }
  @include for-size(desktop) {
    width: rem(636);
  }
  @include for-size(hd-desktop) {
    max-width: rem(676);
  }
}

.skill-list {
  margin: 0;
  padding: 0;
  margin-bottom: rem(32);

  @include for-size(desktop) {
    max-width: rem(480);
  }
}

.skill-list:first-child {
  letter-spacing: rem(7);
}

.skill-list__item {
  display: flex;
  align-items: flex-start;
}

.skill-list__item:not(:last-child) {
  margin-bottom: rem(24);
}

.skill-list__item:hover .skill-list__img {
  transform: scale(1.7);
}

.skill-list__description {
  padding-left: rem(20);
  font-size: rem(13);
  color: $black-color-s;
  font-weight: 600;
  line-height: rem(20);
  margin: 0;
  @include for-size(tablet) {
    line-height: rem(20);
  }
  @include for-size(desktop) {
    font-size: rem(17);
    line-height: rem(29.17);
  }
}

.skill-list__img {
  width: rem(18);
  height: rem(18);
  fill: $orange-color;
  transition: 0.2s;
}

.list-about {
  position: relative;
  margin: 0;
  margin-bottom: rem(10);
  padding: 0;
  padding-left: rem(15);
  line-height: rem(20);

  @include for-size(tablet) {
    padding: 0;
  }
}

.list-about::before {
  @include pseudo(rem(25), rem(2));
  position: absolute;
  background-color: $orange-color;
  top: rem(-16);
  transition: 0.3s;
}

.list-about:hover::before {
  width: 100%;
}

.list-about__item:not(:last-child) {
  margin-bottom: rem(16);
}

.list-about__item:last-child {
  text-align: center;
}

.list-about__description,
.certificate-link {
  margin: 0;
  font-size: rem(11);
  line-height: rem(20);
  @include for-size(tablet) {
    line-height: rem(29.17);
  }
  @include for-size(desktop) {
    font-size: rem(17);
  }
}

.certificate-link {
  text-decoration: underline;
  line-height: rem(29);
  transition: 0.3s;
}

// POPUP ////////

.popup__btn {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  color: $orange-color;

  @include for-size(hd-desktop) {
    font-size: rem(11);
    line-height: rem(29.17);
  }

  @include for-size(desktop) {
    font-size: rem(16.67);
    line-height: rem(29.17);
  }
}

.popup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.popup-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  margin: 0 auto;
  min-width: rem(200);
}

.close {
  position: absolute;
  right: rem(-20);
  top: rem(-30);
  font-size: rem(50);
  color: $white-color;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover,
  &:focus {
    transform: rotateZ(360deg);
    color: $orange-color;
  }
}

.popup__img {
  width: rem(400);
  margin: 0 auto;
  padding: rem(15);
  border: rem(3) solid $orange-color;
  border-radius: rem(30);
  box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.54);
}
