.teacher {
  padding: 0 20px;
  margin-bottom: rem(50);
}

.sections-title,
.teacher-name,
.teacher-photo {
  margin: 0;
  margin-bottom: rem(24);
}

.teacher-photo {
  min-width: rem(246);
}

img {
  max-width: 100%;
  height: auto;
}

.teacher-name {
  padding-bottom: rem(5);
  font-weight: 800;
  border-bottom: rem(1) solid rgba(133, 133, 133, 0.38);
}

.skill-list {
  margin: 0;
  padding: 0;
  margin-bottom: rem(32);
}

.skill-list:first-child {
  letter-spacing: rem(7);
}

.skill-list__item {
  display: flex;
  align-items: flex-start;
}

.skill-list__item:not(:last-child) {
  margin-bottom: rem(24);
}

.skill-list__item:hover #check {
  transform: scale(1.5);
}

.skill-list__discription {
  padding-left: rem(20);
  font-size: rem(13);
  color: $black-color-s;
  font-weight: 600;
  line-height: rem(20);
  margin: 0;
}

#check {
  width: rem(16);
  height: rem(16);
  fill: $orange-color;
  transition: 0.2s;
}

.list-about {
  position: relative;
  margin: 0;
  margin-bottom: rem(10);
  padding: 0;
  padding-left: rem(15);
  line-height: rem(20);
  font-size: rem(11);
}

.list-about::before {
  @include pseudo(rem(25), rem(2));
  position: absolute;
  background-color: $orange-color;
  top: rem(-16);
}

.list-about__item:not(:last-child) {
  margin-bottom: rem(16);
}

.list-about__item:last-child {
  text-align: center;
}

.list-about__discription {
  margin: 0;
}

.certificate-link {
  font-size: rem(11);
  text-decoration: underline;
  line-height: rem(29);
}

@include for-size(tablet) {
  .teacher {
    padding: 0;
  }

  .teacher-photo {
    margin: 0;
    margin-right: rem(46);
  }
  .teacher-wrapper {
    @include flexible;
    justify-content: space-between;
  }
  .list-about {
    padding: 0;
  }
}

@include for-size(desktop) {
  .teacher-photo {
    width: rem(496);
    height: rem(644);
  }
}
