.troubles {
  position: relative;
}

.section-shadow {
  box-shadow: rem(0) rem(14) rem(14) rem(-12) rgba(29, 29, 27, 0.4);
}

.section-title__container {
  margin: 0;
  padding: rem(48) rem(60) 0 0;
  color: $white-color;
  margin-bottom: rem(18);
}

.section-list {
  background-color: $white-color;

  margin: 0;
  counter-reset: section-counter;
  font-weight: 700;
  &__item {
    position: relative;
    font-size: rem(13);
    line-height: rem(20);
    letter-spacing: 0.05em;
    &::before {
      position: static;
      display: block;
      margin-bottom: rem(15);
    }
    &::after {
      content: counter(section-counter, decimal-leading-zero);
      counter-increment: section-counter;
      position: absolute;
      bottom: 100%;
      transform: translateY(50%);
      left: rem(35);
      color: $orange-color;
      font-weight: 600;
      font-size: rem(14);
      line-height: rem(30);
    }
  }
}

.advantages-reason {
  margin: 0;
  padding: 0;
}
@include for-size(mobile) {
  .troubles {
    background-image: linear-gradient(
      to bottom,
      $black-color-s 0%,
      $black-color 72.5%,
      $white-color 72.5%
    );
  }
  .section-title__container {
    line-height: rem(30);
  }
  .section-list {
    padding: rem(26) rem(60) rem(28) rem(20);
    &__item {
      &:not(:last-of-type) {
        margin-bottom: rem(22);
      }
    }
  }
}
@include for-size(tablet) {
  .troubles {
    background-image: url(../images/troubles/fire-t.png),
      linear-gradient(
        to bottom,
        $black-color-s 0%,
        $black-color 55%,
        $white-color 55%
      );
    background-color: $black-color-s;
    background-position: right top 15%;
    background-repeat: no-repeat;
  }
  .section-title__container {
    padding: rem(56) rem(200) 0 0;

    margin-bottom: rem(18);
    &-centered {
      text-align: center;
      padding-right: rem(0);
    }
  }
  .section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: rem(45) rem(108) rem(28);
    &__item {
      flex-basis: rem(200);
      &:not(:nth-last-of-type(-n + 2)) {
        margin-bottom: rem(30);
      }
    }
  }
}
@include for-size(desktop) {
  .troubles {
    background-image: url(../images/troubles/fire-d.png),
      linear-gradient(
        to bottom,
        $black-color-s 0%,
        $black-color 82%,
        $white-color 82%
      );
    background-color: $black-color-s;
    background-position: right top 15%;
    background-repeat: no-repeat;
  }
  .section-title__container {
    line-height: rem(58);
    padding-right: rem(466);
    margin-bottom: rem(42);
    &-centered {
      text-align: center;
      padding-right: rem(000);
    }
  }
  .section-list {
    padding: rem(62) rem(98) rem(28);
    &__item {
      font-size: rem(18);
      line-height: rem(30);
      font-weight: 700;
      flex-basis: rem(290);
      &::before {
        margin-bottom: rem(20);
      }
      &::after {
        font-size: rem(21);
        line-height: rem(29);
      }
      &:not(:nth-last-of-type(-n + 3)) {
        margin-bottom: rem(48);
      }
    }
  }
}
@include for-size(hd-desktop) {
  .troubles {
    background-image: url(../images/troubles/fire-xd.png),
      linear-gradient(
        to bottom,
        $black-color-s 0%,
        $black-color 70%,
        $white-color 70%
      );
    background-color: $black-color-s;
    background-position: right top 15%;
    background-repeat: no-repeat;
  }
  .section-title__container {
    line-height: rem(64);
    &-centered {
      text-align: center;
      padding-right: rem(000);
    }
  }
  .section-list {
    padding: rem(94) rem(114) rem(28);
    &__item {
      font-size: rem(20);
      line-height: rem(28);
      flex-basis: rem(284);
      &::before {
        margin-bottom: rem(26);
      }
      &:not(:nth-last-of-type(-n + 3)) {
        margin-bottom: rem(22);
      }
    }
  }
}
