.troubles {
  background-color: $black-color-s;
  padding-top: 50px;
  padding-bottom: 328px;

  @include for-size(tablet) {
    padding-top: 62px;
    padding-bottom: 178px;
    background-image: url(../images/troubles/fire-t.png);
    background-repeat: no-repeat;
    background-position: right bottom -10px;
  }

  @include for-size(desktop) {
    padding-top: 75px;
    padding-bottom: 270px;
    background-image: url(../images/troubles/fire-d.png);
    background-repeat: no-repeat;
    background-position: right bottom -48px;
  }
  @include for-size(hd-desktop) {
    padding-top: 116px;
    background-image: url(../images/troubles/fire-xd.png);
    background-repeat: no-repeat;
    background-position: right bottom -120px;
  }
}
.section-shadow {
  box-shadow: rem(0) rem(14) rem(14) rem(-12) rgba(29, 29, 27, 0.4);
}
.absolute-wrapper {
  position: relative;
  // width: 100%;
}

.section-title__container {
  margin: 0;
  padding-right: 52px;
  color: $white-color;

  @include for-size(mobile) {
    line-height: rem(30);
  }

  @include for-size(tablet) {
    padding-right: 140px;
    // padding-top: 58px;
    // padding-bottom: 176px;
    // &-centered {
    //   text-align: center;
    //   padding-right: rem(0);
    // }
  }
  @include for-size(desktop) {
    line-height: 55px;
    padding-right: 470px;
    // padding-top: 68px;
    // padding-bottom: 294px;
  }
  @include for-size(hd-desktop) {
    padding-right: 470px;
    // padding-top: 104px;
    // padding-bottom: 266px;
    line-height: rem(64);
  }
}

.section-list {
  width: 100%;
  position: absolute;
  top: 160px;
  background-color: $white-color;
  margin: 0;
  counter-reset: section-counter;
  font-weight: 700;
  &__item {
    position: relative;
    font-size: rem(13);
    line-height: rem(20);
    letter-spacing: 0.05em;
    &::before {
      position: static;
      display: block;
      margin-bottom: rem(15);
    }
    &::after {
      content: counter(section-counter, decimal-leading-zero);
      counter-increment: section-counter;
      position: absolute;
      bottom: 100%;
      transform: translateY(50%);
      left: rem(35);
      color: $orange-color;
      font-weight: 600;
      font-size: rem(14);
      line-height: rem(30);
    }
  }
  @include for-size(mobile) {
    padding: 28px 64px 28px 32px;
    &__item {
      &:not(:last-of-type) {
        margin-bottom: 22px;
      }
    }
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 112px;
    padding: 42px 108px 22px;
    &__item {
      flex-basis: rem(200);
      &:not(:nth-last-of-type(-n + 2)) {
        margin-bottom: rem(30);
      }
    }
  }
  @include for-size(desktop) {
    top: 210px;
    padding: 62px 100px 22px;
    &__item {
      font-size: rem(18);
      line-height: rem(30);
      font-weight: 700;
      flex-basis: rem(290);
      &::before {
        margin-bottom: rem(20);
      }
      &::after {
        font-size: rem(21);
        line-height: rem(29);
      }
      &:not(:nth-last-of-type(-n + 3)) {
        margin-bottom: rem(48);
      }
    }
  }
  @include for-size(hd-desktop) {
    top: 234px;
    padding: 80px 116px 22px;
    &__item {
      font-size: rem(20);
      line-height: rem(28);
      flex-basis: rem(284);
      &::before {
        margin-bottom: rem(26);
      }
      &:not(:nth-last-of-type(-n + 3)) {
        margin-bottom: rem(22);
      }
    }
  }
}

.advantages-reason {
  margin: 0;
  padding: 0;
}
